body {
  background: #fff2f3;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

.chatbar {
  background: #f9b8b8;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
  border-radius: 5px 5px 0px 0px;
}

.chatbar-message,
.chatbar-username {
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}

.message {
  display: flex;
  padding: 5px;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
}

.messages {
  // background-color: yellow;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
  transition-property: background-color;
  transition-duration: 4s;
  transition-delay: 2s;
}

.message-content {
  flex: 8;
}

.message-username {
  flex: 2;
  font-weight: 700;
}

.navbar {
  background: #ff8282;
  color: #444444;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;

  span {
    font-weight: bold;
    font-size: 12px;
    padding-top: 22px;
  }
}

.navbar-brand {
  color: inherit;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

.notification {
  margin-left: 15px;
}

.most-recent-message {
  animation: messageFlash 1000ms ease-in;
}

@keyframes messageFlash {
  0% {background: auto;}
  40% {background: #f4bcc1;}
  80% {background: auto;}
}
